#contact-page {

    padding: 100px;
    margin: 89px 50px;


    h1 {
        color: #000;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    h3 {
        color: rgb(194, 194, 194);
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: .5rem;
    }

    p {
        font-size: .9rem;
        line-height: 1.8;
        margin-bottom: 2rem;
        font-weight: 400;

        a {
            color: red;
        }
    }


    iframe {
        width: 100%
    }

}

// ****************Responsive Design***************

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
    #contact-page {
        padding: 15px;
        margin: 9px 50px;

        h1,
        h3,
        p {
            text-align: center;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #contact-page {
        padding: 35px;
        margin: 134px 50px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200) {}
