#contact-page {

    padding: 100px;
    margin: 125px 50px;

    h1,
    h3,
    p {
        text-align: center;
    }

    h1 {
        color: #000;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    h3 {
        color: rgb(194, 194, 194);
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: .5rem;
    }

    p {
        font-size: .9rem;
        line-height: 1.8;
        margin-bottom: 2rem;
        font-weight: 400;

        a {
            color: #8EC5FC;
            text-decoration: none;
            font-size: 1.5rem;
        }
    }


    iframe {
        width: 100%
    }

}

// ****************Responsive Design***************

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
    #contact-page {
        padding: 15px;
        margin: 45px 40px;

        h1,
        h3,
        p {
            text-align: center;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #contact-page {
        padding: 40px;
        margin: 160px 50px;

        h1,
        h3,
        p {
            text-align: center;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200) {}
