#offers-page {

    padding: 100px;
    margin: 150px 50px;
    overflow: hidden;

    h1 {
        color: #000;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
    }

    p {
        font-size: .9rem;
        line-height: 1.8;
        margin-bottom: 2rem;
        font-weight: 400;
    }

    .thank-you {

        h1,
        p {
            text-align: center;
        }
    }

    form {
        .form-group {
            label {
                font-weight: 700;
                margin-bottom: 10px;
                color: black;
            }

            .form-control {
                border: 2px solid #9C1B24;
                font-size: 1rem;
                padding: 10px !important;
                box-sizing: border-box;
                height: auto;
            }

            button[type="submit"] {
                background: #9C1B24;
                border: none;
                padding: 20px 40px;
            }
        }

    }


}

// ****************Responsive Design***************

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
    #offers-page {
        padding: 15px;
        margin: 80px 50px;

        h1 {
            font-size: 2rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #offers-page {
        padding: 35px;
        margin: 140px 50px;

        .content-box {
            background: #FFF;
            padding: 40px;

        }

    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {
    #offers-page {
        padding: 35px;
        margin: 140px 50px;

    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    // #offers-page {
    //     padding: 20px;
    //     margin: 140px 50px;
    // }
}
