#waitlist-page {

    padding: 100px;

    h1 {
        color: #000;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 2.5rem;
    }

    p {
        font-size: .9rem;
        line-height: 1.8;
        margin-bottom: 2rem;
        font-weight: 400;
    }

    form {
        .form-group {
            label {
                font-weight: 700;
                margin-bottom: 10px;
                color: black;
            }

            .form-control {
                 border: 2px solid #8EC5FC;
                font-size: 1rem;
                padding: 10px !important;
                box-sizing: border-box;
                height: auto;
            }

            button[type="submit"] {
                background-color: #8EC5FC;
                background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
                border: none;
                padding: 20px 40px;
                transition: all .3s ease-in-out;

                &:hover{
                    background: rgb(192,192,192);
                    color: #FFF;
                }
            }
        }

    }


}

// ****************Responsive Design***************

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
    #waitlist-page {
        padding: 32px 10px;

        h1 {
            font-size: 2rem;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #waitlist-page {
        padding: 82px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200) {}
