#menu-page {

    padding: 100px;

    #food-preview {
        padding: 0;
        background: transparent;

        h2 {
            color: #FFF;
            text-transform: uppercase;
        }

        .right-btn,
        .left-btn {
            background: #000;
        }

        .food-slider {


            .sliding-system {}

            .slide {

                &:hover {
                    .background {
                        background: #000;
                        transform: translate3d(0, -200px, 0);
                    }


                }

            }

        }


    }

}

// ****************Responsive Design***************

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 0px) and (max-width: 767px) {
    #menu-page {
        padding: 20px;

       
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    #menu-page {
        padding: 70px;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200) {}
